<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProcesarLogin</servlet-name>
        <servlet-class>com.controlador.ProcesarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarProfecion</servlet-name>
        <servlet-class>com.controlador.ProcesarProfecion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarDepartamento</servlet-name>
        <servlet-class>com.controlador.ProcesarDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarTipoEmpresa</servlet-name>
        <servlet-class>com.controlador.ProcesarTipoEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarTipoVacante</servlet-name>
        <servlet-class>com.controlador.ProcesarTipoVacante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarTrabajoEmpresa</servlet-name>
        <servlet-class>com.controlador.ProcesarTrabajoEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarUsuario</servlet-name>
        <servlet-class>com.controlador.ProcesarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcesarLogin</servlet-name>
        <url-pattern>/procesarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarProfecion</servlet-name>
        <url-pattern>/procesarProfecion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarDepartamento</servlet-name>
        <url-pattern>/procesarDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarTipoEmpresa</servlet-name>
        <url-pattern>/procesarTipoEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarTipoVacante</servlet-name>
        <url-pattern>/procesarTipoVacante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarTrabajoEmpresa</servlet-name>
        <url-pattern>/procesarTrabajoEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarUsuario</servlet-name>
        <url-pattern>/procesarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
